@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

:root {
    --cor-primaria: #2B3A55;
    --cor-secundaria: #F2E5E5;
    --cor-terciaria: #CE7777;
    --cor-hover: #394c6e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__links {
    color: var(--cor-terciaria);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo {
    font-size: 2.1rem;
    font-family: 'Roboto', sans-serif;
}

.apresentacao__texto {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.apresentacao__links__subtitulo {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.apresentacao__botao {
    /* background-color: #d4e09b; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 22px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__botao:hover {
    background-color: var(--cor-hover);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 22px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.perfil {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 770px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}